<%= form_for @component do |f| %>
<section class="form-group">
  <i class="glyphicon glyphicon-asterisk"></i>
  <%= f.label t("flash.components.form.part_number"), class: 'form-label' %>
  <%= f.text_field :part_number, class: 'form-control', placeholder: t("flash.components.form.part_number")%>
  <%= error_for @component, :part_number %>
</section>

<section class="form-group">
  <i class="glyphicon glyphicon-asterisk"></i>
  <%= f.label t("flash.components.form.stock"), class: 'form-label' %>
  <%= f.number_field :stock , class: 'form-control', placeholder: t("flash.components.form.stock"), min: 0 %>
  <%= error_for @component, :stock %>
</section>

<section class="form-group">
  <i class="glyphicon glyphicon-asterisk"></i>
  <%= f.label t("flash.components.form.description"), class: 'form-label' %>
  <%= f.text_area :description , class: 'form-control', placeholder: t("flash.components.form.description") %>
  <%= error_for @component, :description %>
</section>

  <section class="form-group">
  <%= f.label t("flash.components.form.manufacturer"), class: 'form-label' %>
  <%= f.text_field :manufacturer , class: 'form-control', placeholder: t("flash.components.form.manufacturer") %>
  <%= error_for @component, :manufacturer %>
</section>

<section class="form-group">
  <i class="glyphicon glyphicon-asterisk"></i>
  <%= f.label t("flash.components.form.datasheet"), class: 'form-label' %>
  <%= f.text_field :datasheet , class: 'form-control', placeholder: t("flash.components.form.datasheet") %>
  <%= error_for @component, :datasheet %>
</section>

<section class="form-group">
  <%= f.label t("flash.components.form.image_link"), class: 'form-label' %>
  <%= f.text_field :image_link , class: 'form-control', placeholder: t("flash.components.form.image_link") %>
  <%= error_for @component, :image_link %>
</section>

<section class="form-group">
  <%= f.collection_select(:category_id, @categories, :id, :name, {}, {class: 'form-control'}) %>
</section>

<section class="form-actions">
  <%= f.submit t("flash.components.form.actions.submit"), class: 'btn btn-success' %>
  <%= link_to t("flash.components.form.actions.cancel"), components_path, class: 'btn btn-warning' %>
</section>
<% end %>
