<section class="row">
<h1><%= t("flash.components.title") %></h1>

<section class="bs-callout bs-callout-info">
  <%= link_to t("flash.components.form.actions.new"), new_component_path, class: "btn btn-info" %>
</section>

<table class="table">
  <thead>
    <tr>
      <th><%= t("flash.components.form.part_number") %></th>
    </tr>
  </thead>
  <tbody>
    <% @components.each do |component| %>
      <tr>
        <td><%= component.part_number %></td>
        <td>
          <%= link_to t("flash.components.form.actions.delete"), component_path(component), method: :delete, data: {confirm: t("flash.components.form.actions.confirm")}, class: "btn btn-danger" %>
          <%= link_to t("flash.components.form.actions.show"), component_path(component), class: "btn btn-info" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</section>
