<%= form_for @toolbox do |f| %>
<section class="form-group">
  <i class="glyphicon glyphicon-asterisk"></i>
  <%= f.label t("flash.toolboxes.form.name"), class: 'form-label' %>
  <%= f.text_field :name, class: 'form-control', placeholder: t("flash.toolboxes.form.name")%>
  <%= error_for @toolbox, :name %>
</section>

<section class="form-group">
  <i class="glyphicon glyphicon-asterisk"></i>
  <%= f.label t("flash.toolboxes.form.owner"), class: 'form-label' %>
  <%= f.text_field :owner, class: 'form-control', placeholder: t("flash.toolboxes.form.owner")%>
  <%= error_for @toolbox, :owner %>
</section>

<section class="form-group">
  <%= f.label t("flash.toolboxes.form.description"), class: 'form-label' %>
  <%= f.text_area :description , class: 'form-control', placeholder: t("flash.toolboxes.form.description") %>
  <%= error_for @toolbox, :description %>
</section>

<section class="form-actions">
  <%= f.submit t("flash.toolboxes.form.actions.submit"), class: 'btn btn-success' %>
  <%= link_to t("flash.toolboxes.form.actions.cancel"), toolboxes_path, class: 'btn btn-warning' %>
</section>
<% end %>
