<!DOCTYPE html>
<html>
<head>
  <title><%= t("flash.title") %></title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="site-header">
  <%= render "shared/header" %>
</header>

<section class="container">
  <%= render "shared/flash_messages" %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
</section>

<footer class="site-footer">
  <%= render "shared/footer" %>
</footer>

<%= javascript_include_tag 'application'%>
</body>
</html>
